openapi: 3.2.0
info:
  title: Snapchat Login Kit User Profile API
  description: Snapchat Login Kit enables developers to let users sign up and log in to their apps using their Snapchat account credentials. Built on the OAuth 2.0 standard, it provides endpoints for authorization, token exchange, token refresh, and retrieving user profile information including display name and Bitmoji avatar. Login Kit is available for iOS, Android, and Web platforms.
  version: '1.0'
  contact:
    name: Snap for Developers
    url: https://developers.snap.com
  termsOfService: https://snap.com/en-US/terms
servers:
- url: https://accounts.snapchat.com
  description: Snapchat Accounts Server (OAuth)
- url: https://kit.snapchat.com/v1
  description: Snapchat Kit API Server (Profile)
tags:
- name: User Profile
  description: Endpoints for retrieving authenticated user profile information including display name and Bitmoji avatar.
paths:
  /me:
    get:
      operationId: getUserProfile
      summary: Get Authenticated User Profile
      description: Retrieves the profile information of the authenticated Snapchat user, including their external ID, display name, and Bitmoji avatar URL based on the scopes granted during authorization.
      tags:
      - User Profile
      security:
      - bearerAuth: []
      parameters:
      - name: query
        in: query
        required: false
        description: A JSON-encoded query string specifying which fields to retrieve from the user profile.
        schema:
          type: string
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Unauthorized - invalid or expired access token
        '403':
          description: Forbidden - insufficient scopes
components:
  schemas:
    UserProfile:
      type: object
      description: The authenticated user's Snapchat profile information. Fields available depend on the scopes granted during authorization.
      properties:
        data:
          type: object
          properties:
            me:
              type: object
              properties:
                externalId:
                  type: string
                  description: The unique external identifier for the user on the Snapchat platform.
                displayName:
                  type: string
                  description: The user's Snapchat display name. Requires the user.display_name scope.
                bitmoji:
                  type: object
                  description: The user's Bitmoji avatar information. Requires the user.bitmoji.avatar scope.
                  properties:
                    avatar:
                      type: string
                      format: uri
                      description: URL to the user's Bitmoji avatar image.
                    id:
                      type: string
                      description: The unique identifier of the user's Bitmoji.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer access token obtained via the OAuth 2.0 authorization code flow. Tokens expire after 3600 seconds.
externalDocs:
  description: Snapchat Login Kit Documentation
  url: https://developers.snap.com/snap-kit/login-kit/overview
