openapi: 3.2.0
info:
  title: Snapchat Ads Ad Accounts Funding Sources API
  description: The Snapchat Ads API allows developers to programmatically create, manage, and optimize advertising campaigns on the Snapchat platform. It provides endpoints for managing organizations, ad accounts, campaigns, ad squads, ads, creatives, media, funding sources, audience segments, and measurement reporting. The API supports the full advertising lifecycle from campaign setup through reporting and optimization.
  version: '1.0'
  contact:
    name: Snap for Developers
    url: https://developers.snap.com
  termsOfService: https://snap.com/en-US/terms
servers:
- url: https://adsapi.snapchat.com/v1
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Funding Sources
  description: Funding Sources represent payment methods associated with an organization, including credit cards, PayPal, and lines of credit.
paths:
  /organizations/{organization_id}/fundingsources:
    get:
      operationId: listFundingSources
      summary: List All Funding Sources for an Organization
      description: Retrieves all funding sources associated with the specified organization, including credit cards, PayPal, and lines of credit.
      tags:
      - Funding Sources
      parameters:
      - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Successful retrieval of funding sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_status:
                    type: string
                  request_id:
                    type: string
                  fundingsources:
                    type: array
                    items:
                      type: object
                      properties:
                        fundingsource:
                          $ref: '#/components/schemas/FundingSource'
        '401':
          description: Unauthorized
        '404':
          description: Organization not found
components:
  parameters:
    organizationId:
      name: organization_id
      in: path
      required: true
      description: The unique identifier of the organization
      schema:
        type: string
  schemas:
    FundingSource:
      type: object
      description: A Funding Source represents a payment method for an organization, such as a credit card, PayPal account, or line of credit.
      properties:
        id:
          type: string
          description: The unique identifier of the funding source
        updated_at:
          type: string
          format: date-time
          description: Timestamp of last update
        created_at:
          type: string
          format: date-time
          description: Timestamp of creation
        type:
          type: string
          description: The type of funding source
          enum:
          - CREDIT_CARD
          - PAYPAL
          - LINE_OF_CREDIT
          - COUPON
        organization_id:
          type: string
          description: The ID of the parent organization
        status:
          type: string
          description: The status of the funding source
        currency:
          type: string
          description: The currency code
        total_budget_micro:
          type: integer
          format: int64
          description: Total budget in micro-currency units
        available_credit_micro:
          type: integer
          format: int64
          description: Available credit in micro-currency units
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: OAuth 2.0 authorization. Access tokens are obtained via the authorization code flow and expire after 3600 seconds. Refresh tokens can be used to obtain new access tokens.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.snapchat.com/accounts/oauth2/auth
          tokenUrl: https://accounts.snapchat.com/login/oauth2/access_token
          scopes:
            snapchat-marketing-api: Access to the Snapchat Marketing API
externalDocs:
  description: Snapchat Ads API Documentation
  url: https://developers.snap.com/api/marketing-api/Ads-API/introduction
