openapi: 3.2.0
info:
  title: Snapchat Ads Ad Accounts Organizations API
  description: The Snapchat Ads API allows developers to programmatically create, manage, and optimize advertising campaigns on the Snapchat platform. It provides endpoints for managing organizations, ad accounts, campaigns, ad squads, ads, creatives, media, funding sources, audience segments, and measurement reporting. The API supports the full advertising lifecycle from campaign setup through reporting and optimization.
  version: '1.0'
  contact:
    name: Snap for Developers
    url: https://developers.snap.com
  termsOfService: https://snap.com/en-US/terms
servers:
- url: https://adsapi.snapchat.com/v1
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Organizations
  description: Organizations represent brands, partners, or ad agencies. Organizations are created via Snap Business Manager.
paths:
  /me/organizations:
    get:
      operationId: listOrganizations
      summary: List All Organizations
      description: Retrieves all organizations the authenticated user has access to, along with the ad accounts beneath each organization.
      tags:
      - Organizations
      responses:
        '200':
          description: Successful retrieval of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_status:
                    type: string
                  request_id:
                    type: string
                  organizations:
                    type: array
                    items:
                      type: object
                      properties:
                        organization:
                          $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized - invalid or expired access token
        '403':
          description: Forbidden - insufficient permissions
  /organizations/{organization_id}:
    get:
      operationId: getOrganization
      summary: Get a Specific Organization
      description: Retrieves details for a specific organization by its ID.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Successful retrieval of organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_status:
                    type: string
                  request_id:
                    type: string
                  organizations:
                    type: array
                    items:
                      type: object
                      properties:
                        organization:
                          $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized
        '404':
          description: Organization not found
components:
  schemas:
    Organization:
      type: object
      description: An Organization represents a brand, partner, or ad agency on the Snapchat advertising platform.
      properties:
        id:
          type: string
          description: The unique identifier of the organization
        updated_at:
          type: string
          format: date-time
          description: The timestamp when the organization was last updated
        created_at:
          type: string
          format: date-time
          description: The timestamp when the organization was created
        name:
          type: string
          description: The name of the organization
        address_line_1:
          type: string
          description: First line of the organization address
        locality:
          type: string
          description: City or locality of the organization
        administrative_district_level_1:
          type: string
          description: State or province of the organization
        country:
          type: string
          description: Country code of the organization
        postal_code:
          type: string
          description: Postal code of the organization
        type:
          type: string
          description: The type of organization
          enum:
          - ENTERPRISE
          - PARTNER
        my_display_name:
          type: string
          description: The display name of the authenticated user within this organization
        my_invited_email:
          type: string
          format: email
          description: The email address used to invite the authenticated user
        my_member_id:
          type: string
          description: The member ID of the authenticated user within this organization
  parameters:
    organizationId:
      name: organization_id
      in: path
      required: true
      description: The unique identifier of the organization
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: OAuth 2.0 authorization. Access tokens are obtained via the authorization code flow and expire after 3600 seconds. Refresh tokens can be used to obtain new access tokens.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.snapchat.com/accounts/oauth2/auth
          tokenUrl: https://accounts.snapchat.com/login/oauth2/access_token
          scopes:
            snapchat-marketing-api: Access to the Snapchat Marketing API
externalDocs:
  description: Snapchat Ads API Documentation
  url: https://developers.snap.com/api/marketing-api/Ads-API/introduction
