openapi: 3.2.0
info:
  title: Snapchat Ad Accounts Ads API
  description: The Snapchat Ads API allows developers to programmatically create, manage, and optimize advertising campaigns on the Snapchat platform. It provides endpoints for managing organizations, ad accounts, campaigns, ad squads, ads, creatives, media, funding sources, audience segments, and measurement reporting. The API supports the full advertising lifecycle from campaign setup through reporting and optimization.
  version: '1.0'
  contact:
    name: Snap for Developers
    url: https://developers.snap.com
  termsOfService: https://snap.com/en-US/terms
servers:
- url: https://adsapi.snapchat.com/v1
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Ads
  description: Ads are the individual ad units that are delivered to users. Each Ad belongs to an Ad Squad and references a Creative.
paths:
  /adsquads/{ad_squad_id}/ads:
    get:
      operationId: listAdsByAdSquad
      summary: List All Ads for an Ad Squad
      description: Retrieves all ads within the specified ad squad.
      tags:
      - Ads
      parameters:
      - $ref: '#/components/parameters/adSquadId'
      responses:
        '200':
          description: Successful retrieval of ads
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_status:
                    type: string
                  request_id:
                    type: string
                  ads:
                    type: array
                    items:
                      type: object
                      properties:
                        ad:
                          $ref: '#/components/schemas/Ad'
        '401':
          description: Unauthorized
        '404':
          description: Ad squad not found
    post:
      operationId: createAd
      summary: Create an Ad
      description: Creates a new ad within the specified ad squad.
      tags:
      - Ads
      parameters:
      - $ref: '#/components/parameters/adSquadId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ads:
                  type: array
                  items:
                    $ref: '#/components/schemas/Ad'
      responses:
        '200':
          description: Ad created successfully
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /campaigns/{campaign_id}/ads:
    get:
      operationId: listAdsByCampaign
      summary: List All Ads for a Campaign
      description: Retrieves all ads under the specified campaign.
      tags:
      - Ads
      parameters:
      - $ref: '#/components/parameters/campaignId'
      responses:
        '200':
          description: Successful retrieval of ads
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_status:
                    type: string
                  request_id:
                    type: string
                  ads:
                    type: array
                    items:
                      type: object
                      properties:
                        ad:
                          $ref: '#/components/schemas/Ad'
        '401':
          description: Unauthorized
        '404':
          description: Campaign not found
  /adaccounts/{ad_account_id}/ads:
    get:
      operationId: listAdsByAdAccount
      summary: List All Ads for an Ad Account
      description: Retrieves all ads under the specified ad account.
      tags:
      - Ads
      parameters:
      - $ref: '#/components/parameters/adAccountId'
      responses:
        '200':
          description: Successful retrieval of ads
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_status:
                    type: string
                  request_id:
                    type: string
                  ads:
                    type: array
                    items:
                      type: object
                      properties:
                        ad:
                          $ref: '#/components/schemas/Ad'
        '401':
          description: Unauthorized
        '404':
          description: Ad account not found
  /ads/{ad_id}:
    get:
      operationId: getAd
      summary: Get a Specific Ad
      description: Retrieves details for a specific ad by its ID.
      tags:
      - Ads
      parameters:
      - $ref: '#/components/parameters/adId'
      responses:
        '200':
          description: Successful retrieval of ad
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_status:
                    type: string
                  request_id:
                    type: string
                  ads:
                    type: array
                    items:
                      type: object
                      properties:
                        ad:
                          $ref: '#/components/schemas/Ad'
        '401':
          description: Unauthorized
        '404':
          description: Ad not found
    put:
      operationId: updateAd
      summary: Update an Ad
      description: Updates an existing ad.
      tags:
      - Ads
      parameters:
      - $ref: '#/components/parameters/adId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ads:
                  type: array
                  items:
                    $ref: '#/components/schemas/Ad'
      responses:
        '200':
          description: Ad updated successfully
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Ad not found
    delete:
      operationId: deleteAd
      summary: Delete an Ad
      description: Deletes a specific ad by its ID.
      tags:
      - Ads
      parameters:
      - $ref: '#/components/parameters/adId'
      responses:
        '200':
          description: Ad deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Ad not found
components:
  parameters:
    campaignId:
      name: campaign_id
      in: path
      required: true
      description: The unique identifier of the campaign
      schema:
        type: string
    adAccountId:
      name: ad_account_id
      in: path
      required: true
      description: The unique identifier of the ad account
      schema:
        type: string
    adId:
      name: ad_id
      in: path
      required: true
      description: The unique identifier of the ad
      schema:
        type: string
    adSquadId:
      name: ad_squad_id
      in: path
      required: true
      description: The unique identifier of the ad squad
      schema:
        type: string
  schemas:
    Ad:
      type: object
      description: An Ad is an individual ad unit delivered to users. Each Ad belongs to an Ad Squad and references a Creative.
      properties:
        id:
          type: string
          description: The unique identifier of the ad
        updated_at:
          type: string
          format: date-time
          description: Timestamp of last update
        created_at:
          type: string
          format: date-time
          description: Timestamp of creation
        name:
          type: string
          description: The name of the ad
        ad_squad_id:
          type: string
          description: The ID of the parent ad squad
        creative_id:
          type: string
          description: The ID of the creative used by this ad
        status:
          type: string
          description: The status of the ad
          enum:
          - ACTIVE
          - PAUSED
        type:
          type: string
          description: The type of ad
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: OAuth 2.0 authorization. Access tokens are obtained via the authorization code flow and expire after 3600 seconds. Refresh tokens can be used to obtain new access tokens.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.snapchat.com/accounts/oauth2/auth
          tokenUrl: https://accounts.snapchat.com/login/oauth2/access_token
          scopes:
            snapchat-marketing-api: Access to the Snapchat Marketing API
externalDocs:
  description: Snapchat Ads API Documentation
  url: https://developers.snap.com/api/marketing-api/Ads-API/introduction
